In [2]:
%ls

calibrated/                   test-calibrated-shuffled.txt
msl-images.zip                train-calibrated-shuffled.txt
msl_synset_words-indexed.txt  Untitled.ipynb
README.txt                    val-calibrated-shuffled.txt

In [20]:
import numpy as np
import pandas as pd
import regex as re

In [26]:
with open('train-calibrated-shuffled.txt') as file:
    lines = file.readlines()

nums = []
for line in lines:
    if line:
        nums.append(int(line.split(' ')[1]))

In [42]:
with open('msl_synset_words-indexed.txt') as file:
    lines = file.readlines()

synsets = list(range(25))
names = []
for line in lines:
    if line:
        names.append(re.findall('\s*([a-zA-Z ]+)', line)[0])

names_df = pd.DataFrame({'name': names}, index = synsets)

In [28]:
len(nums)

3746

In [29]:
len([num for num in nums if num == 11])

14

In [46]:
counts = []
for i in range(25):
    counts.append(len([num for num in nums if num == i]))
names_df['count'] = counts

In [49]:
names_df

                    name  count
0                   apxs     30
1        apxs cal target      6
2     chemcam cal target     15
3      chemin inlet open     47
4                  drill     19
5            drill holes     36
6              drt front      4
7               drt side      8
8                 ground   2343
9                horizon    224
10                 inlet    165
11                 mahli     14
12      mahli cal target     32
13               mastcam     36
14    mastcam cal target    101
15      observation tray     85
16           portion box     18
17          portion tube     73
18  portion tube opening      8
19        rems uv sensor     12
20       rover rear deck     57
21                 scoop    166
22                   sun      0
23                turret    178
24                 wheel     69

In [16]:
3746 - 2343

1403

In [17]:
1403 / 3746, 2343 / 3746

(0.3745328350240256, 0.6254671649759743)

Q1 : Are we looking at the ground or not?

In [50]:
names_df.loc[[8, 9], 'count'].sum()

2567

In [52]:
names_df.loc[[10, 14, 15, 17, 20, 21, 23, 24], 'count'].sum()

894

In [53]:
894 / (894 + 2567), 2567 / (894 + 2567)

(0.2583068477318694, 0.7416931522681306)

Q2 : Are we looking at the world or instrument X (with 50+ pics)?